<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Request Number</th>
      <th>Sequence Number</th>
      <th>Request Type</th>
      <th>Request Action</th>
      <th>Response Due Date Time</th>
      <th>Primary Service Area Code</th>
      <th>Additional Service Area Codes</th>
      <th>Company Name</th>
      <th>Excavator Address</th>
      <th>Crew Onsite</th>
      <th>Map</th>
    </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.request_number %></td>
        <td><%= ticket.sequence_number %></td>
        <td>
          <div class="type-indicator">
            <%= ticket.request_type %>
            <div class="indicator-icon" style="background: <%= ticket.request_type == "Normal" ? "green" : "red" %>"></div>
          </div>
        </td>
        <td><%= ticket.request_action %></td>
        <td><%= ticket.response_due_date_time.strftime("%B %e, %Y %l:%M %p") %></td>
        <td><%= ticket.primary_service_area_code %></td>
        <td><%= ticket.additional_service_area_codes.join(" - ") %></td>
        <td><%= ticket.excavator&.company_name %></td>
        <td><%= ticket.excavator&.address %></td>
        <td>
          <% if ticket.excavator %>
            <%= image_tag "#{ticket.excavator.crew_onsite}.png", width: 20 %>
          <% end %>
        </td>
        <td>
          <%= link_to ticket_path(ticket) do %>
            <%= image_tag "map.png", width: 35 %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
