<!DOCTYPE html>
<html>
<head>
  <title>GeospatialLogger</title>
  <%= favicon_link_tag 'logo.png' %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render partial: 'partials/header'%>
</header>

<main>
  <%= yield %>
</main>
</body>
</html>
